body {
    margin-top: 20px;
    font-size: 14px;
    background-color: #dedfe0;
}

.main-header__headline{ 
    font-size: 22px;
    color: black;
}

.main-header__small-headline {
    font-weight: 300;
    font-size: 16px;
    color: #70757c;
}

.content {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
}
.navbar {
    border-radius: 5px;
}

.nav-link {
    color: white;   
    font-size: 15px;
}
.nav-link:hover {
    color: white;
    font-weight: 600;
}

.block {
    padding-left: 10px;
}
.block__header{
    padding-top: 15px;
    padding-bottom: 5px;
}
.block__headline {
    color: #3282b3;
    font-size: 16px;
}
.block__content {
    font-size: 14px;
}

.block__text {
    font-size: 14px;
}
.block__text--highlighted {
    font-weight: 600;
}

.--display-block {
    display: block;
}

/*
background-image: url("original-9.jpg");
background-size: 30%;
background-repeat: no-repeat;
background-position: right top;
*/